*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Young Serif', serif;
}
.container{
    padding:50px;
}

.section1{
    background-color: black;
    color:white;
    padding: 20px;
}

.section1__contact{
    background-color: #892de1;
    color:white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px; 
    padding-right: 10px;
    display:inline-block;
    margin-top: 10px;
}

.section1__name{
    font-size: 60px;
}
.section1__role{
    font-size:30px ;
    margin-top:10px; 
}


.contactform{
    margin-top: 20px;

}

.contactform__input,.contactform__textarea,.contactform__submit{
    margin-top: 10px;

}

.contactform__input{
    padding:10px;
    border:none;
    border-bottom: solid black 1px;

}

.contactform__textarea{
    padding:10px;
    border:none;
    border: solid black 1px;
    
}

.contactform__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #892de1;
    color:black;
    border:none;
}

.footer{
    background-color: black;
    padding:30px;
    color:white;
}

.footer__1{
    display: flex;
}

.footer__1 p{
    margin:20px;
}

.footer__2{
    display: flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;

}