*{
    margin: 0;
    padding:0;
}

body{
    font-family:'Gabarito', sans-serif;
}
.navbar{
    padding:10px;
    display:flex;
    justify-content:space-between;
    border-bottom: solid black 1px ;
    gap: 10px;
    align-items: center;
    position:sticky;
    top:0;
    z-index:999;
    background:white;
}

.navbar__s1__title{
    color:#892DE1

}

.navbar__s2{
    padding:10px;
    border: solid black 1px ;
     border-radius:30px ;
     width:60%;
     display:flex;
     gap: 10px;
     align-items: center;
}

.navbar__s2 input{
    border: none;
    width:90%;
     font-size: 16px;

}

.navbar__s2 input:focus{
    outline:none;
}
 
.navbar__s3 {
    display:flex;
    gap:10px;
    align-items: center;
    
}

.categories{
    display:flex;
    justify-content: space-around;
    padding:10px;
    border-bottom: solid black 1px ;

}
.categories p{
    background-color: #892DE1;
    color:white;
    padding:10px;
    border-radius: 30px;

}

.categories p:hover{
    border-color:transparent;
    background: linear-gradient(white,white) padding-box, #892DE1  border-box;
    color:#892DE1
}


.saleimage img{
    width:100%;
}

.recommended {
    padding: 10px;
 
}

.recommend__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
   
.coursecard {
     width: 250px;
     transition: transform 0.3s, box-shadow 0.3s;

}

.coursecard:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.coursecard img{
    width:100%;
    height:50%;

}

.topics {
    padding: 10px;
}

.topics__container{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.topics__container p{
    border: solid gray 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: black;
    padding:30px;
    color:white;
}

.footer__1{
    display: flex;
}

.footer__1 p{
    margin:20px;
}

.footer__2{
    display: flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;

}